body{
    background-color: #FAF9F5;
}
.adi{
    height: 400px;
    width: 600px;
    padding-left: 10px;
    padding-top: 90px;

}
.container{
    margin-left: 800px;
    margin-top: -400px;
    margin-bottom: 200px;
    display: flex;
    padding-top: 30px;
}
.signin{
    padding-top: 10px;
    justify-content: space-between;
    padding-left: 13px;
    word-spacing: 5px;
    font-size: 25px;
    margin-left: 30px;
}
.emailaddress{
    margin-top: 120px;
    margin-left: -220px;
    padding: 12px 140px;
    text-align: center;

}
.b{
    margin-top: 90px;
    padding: 12px 140px;
    margin-left: -293px;
    text-align: center;
}
.checkbox{
    position: absolute;
    margin-left: -585px;
    margin-top: 260px;
    
}
.c{
    position: absolute;
    margin-left: -563px;
    margin-top: 258px;
}
.d{
    position: absolute;
    margin-left: -250px;
    margin-top: 258px;
}
#Login{
    position: absolute;
    margin-left: 20px;
    margin-top: 310px;
    background-color: blue;
    color: white;
    padding: 10px 30px;
    border: 0px;
    border-radius: 3px;
    font-size: smaller;
    box-shadow: #3b71cb;
}
.dont{
    position: absolute;
    margin-left: 20px;
    margin-top: 350px;
}
.Register{
    color: red;
}
footer{
    position: absolute;
    background-color:#3b71cb;
    width:99%;
    height: 65px; 
    display: flex;
    bottom: 3px;
    color: white;
    text-align: center;
}
.footer_icons{
    padding-left: 60%;
    color: white;
    margin-top: 23px;
    margin-left: 110px;
    font-size: larger;
    word-spacing: 20px;
}
.footertext{
    margin-top: 25px;
    margin-left: 45px;
}

